# Pre-parsed Python
__pycache__
*.pyc

# Virtualenvs
venv

# Django Default DB
db.postgresql

# Django Staged Static Files
staticfiles

# Django User-uploaded Files
mediafiles

# Secrets
.env
secrets.py

# macOS
.DS_Store
