__pycache__
*.pyc
.pytest_cache/
.pytest


venv


db.postgresql
migrations


staticfiles


mediafiles


.env
secrets.py
accessKeys.csv


.DS_Store
.idea


Development_Notes.md
HowToInstall.md
scrapheap.py
local_settings.py
