{% load static %}

<!DOCTYPE html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
      >
      <title>Home Page for Dog Days</title>
    </head>
    <body>
      <h1>Welcome to Dog Days, the Dog Management Application</h1>
      <!-- div Today's Date Display -->
      <div>
        <h2><i>Today's Date: {{ date }}</i></h2>
        <p>
          <h3>These are the dogs at work today:</h3>
          <i>If today is a weekend, the following Monday is shown</i>
        </p>
        <p>
          <p><h2>{{ dog_list }}</h2></p>
        </p>
      </div>
      <div>
        <!-- form CHANGE DATE DISPLAY -->
        <h2>Select or Enter the date you want to view/edit</h2>
        <form class="form-inline" action="/viewscreen" method="post" id="date-choice-form">
          <!-- remove action="/login" from form for now -->
          {% csrf_token %}
          <div>
            <label for="date_choice"> Select/Enter Date:</label>
            <input type="date" name="date_choice" class= "form-control" placeholder="YYYY-MM-DD">
          </div>
          <input type="submit" class="btn btn-default" value="SUBMIT DATE">
        </form>
        <!-- /form CHANGE DATE DISPLAY -->
      </div>
      <!-- /div Today's Date Display -->
      <!-- div Go to Admin -->
      <!-- HOLD SNIP FOR LATER, WILL CONTAINERIZ ALL: <div class="container">-- >
      <!-- div nav -->
      <div>
        <!-- HOLD SNIP FOR LATER <div class="row"> -->
        <!--HOLD SNIP FOR LATER <p class="text-sm-right"> -->
          <a class="" href="admin" name="admin">
            GO TO ADMINISTRATION SCREEN
          </a>
        </p>
      </div>
      <!-- /nav -->
      <!-- /div Go to Admin -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script> src=src="{% static 'index_js.js' %}"</script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
  </html>
