<!--{% load staticfiles %} -->

<!DOCTYPE html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
      >

      <title>Home Page for Dog Days</title>
    </head>
    <body>
      <h1>Welcome to Dog Days, the Dog Management Application</h1>
      <!-- div Today's Date Display -->
      <div>
      <h2><i>Today's Date: {{ date }}</i></h2>
        <p><h3>These are the dogs at work today:</h3></p>
        <!--figure out how to make this appear only on Sat & Sun -->
        <!--<p><i>We don't work on weekends, so you'll have to be satisfied
        with Monday's list</i></p>-->
        <p>
          <p><h2>{{ dogs }}</h2></p>
        </p>
      </div>
      <!-- /div Today's Date Display -->
      <!--Add/Remove Dog -->
      <div>Add Dog to Today</div>
      <div>Remove Dog from Today</div>
      <!-- /Add/Remove Dog -->
      <div>
        <!-- form CHANGE DATE DISPLAY -->
        <div><form action="/viewscreen" method="post">
          {% csrf_token %}
          <!-- remove action="/login" from form for now -->
          <!-- added action & method after reading web tip -->
          <h2>Select or Enter the date you want to view/edit</h2>
          <label for="date_choice"> Select/Enter Date:</label>
          <input type="date" name="date_choice">
          <input type="submit" class="btn btn-default" value="SUBMIT DATE">
        </form></div>
      </div>
      <!-- /form CHANGE DATE DISPLAY -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
  </html>
